/* ================================ */
/* ============= BODY ============= */
/* ================================ */

/*  @############ TABLE ############@ */
table.payment{
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
}

table.payment tr, td,th{
    border: 1px solid white;
    border-radius: 20px;
}

table.payment tbody tr{
    height: 150px;
}

table.payment tbody td.image{
    border: none;
}

table.payment tbody td.image img{
    width: 100px;
    height: 100px;
    border-radius: 10px;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}