/* ================================ */
/* ============= BODY ============= */
/* ================================ */

section.payment *{
    color: white;
}

/*  @############ TABLE ############@ */

form{
    border-radius: 20px;
    border: 1px solid #FFF;
}

table.payment{
    width: 100%;
    border-radius: 20px;
    background: #3D3D3D;
}

table.payment thead tr{
    height: 60px;
}

table.payment thead tr th{
    border-bottom: 1px solid white;
    background-color: #666666;
    text-align: center;
    border-right: 1px solid white;
}

table.payment thead tr th.first{
    border-top-left-radius: 20px;
    border-right: 1px solid white;
}

table.payment thead tr th.last{
    border-top-right-radius: 20px;
}

table.payment tbody tr{
    height: 150px;
    /* background-color: #565656; */
    border-top: 1px solid white;
}

table.payment tbody tr td{
    text-align: center;
    border-right: 1px solid white;
}

table.payment tbody td.image{
    border-right: 1px solid white;
}

table.payment tbody td.subtotal{
    border-right: none;
}

table.payment tbody td.image img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

table.payment tbody tr td .qty{
    height: 30px;
    margin: 0 20px;
    background-color: #565656;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

table.payment tbody tr td .qty button{
    background-color: transparent;
    border: none;
}

table.payment tbody tr td .qty button.plus{
    margin-right: 10px;
}

table.payment tbody tr td .qty button.minus{
    margin-left: 10px;
}

table.payment tbody tr td .qty p{
    margin: auto 0;
    padding: 0 5px;
}