/* ================================ */
/* ============= BODY ============= */
/* ================================ */

section.payment *{
    color: white;
}

/*  @############ TABLE ############@ */

form{
    border-radius: 20px;
    border: 1px solid #FFF;
}

table.payment{
    width: 100%;
    border-radius: 20px;
    background: #3D3D3D;
}

table.payment thead tr{
    border-radius: 20px;
    background-color: #565656;
    height: 60px;
}

table.payment thead tr th{
    border-bottom: 1px solid white;
    text-align: center;
}

table.payment tr, td,th{
    /* border: 1px solid white; */
    /* border-radius: 20px; */
}

table.payment tbody tr{
    height: 150px;
}

table.payment tbody td.image{
    border: none;
}

table.payment tbody td.image img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}