li,
a,
button {
    list-style: none;
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    cursor: url(../img/bug-icon.png) 5 5, auto !important;
}
body {
    cursor: url(../img/bug-icon.png) 5 5, auto !important;
}
a {
    cursor: url(../img/bug-icon.png) 5 5, auto;
}
body {
    background-color: #3d3d3d;
}

/* =========================
        #HEADER
    =========================*/
header {
    /* position: fixed; */
    width: 1440px;
    /* height: 80px; */
    /* border-bottom: 1px solid #00000026; */
    
    


    /* backdrop-filter: blur(20px); */
}

header .nav {
    width: 1400px;
    margin: 0 auto;
    max-width: 100%;
    background: #333;
    border-radius: 0px 0px 80px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    top: 0%;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.3) 2.72076px 8px 24px;
    /* border: 1px solid red; */
}

header .nav ul {
    display: flex;
    align-items: center;
}

header .nav ul li {
    margin: 15px;
    letter-spacing: 1px;
}

header .nav .logo {
    /* border: 1px solid red; */
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%);
    background-color: #333;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0 5px 5px rgba(204, 204, 204, .2);
}

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .nav__links {
    width: 40%;
    height: 100%;
}
header .nav__links ul li a{
    transition: .3s ease;
}
header .nav__links ul > li:hover a{
    color: aqua;
}
header .nav__links-left,
header .nav__links-right {
    justify-content: space-between;
}

.active {
    color: aqua;
}

.nav__links-right li:last-child {
    width: 50px;
    height: 50px;
}

header .nav__links-right {
    margin-left: -20px;
}

header .nav__links-right .login-img {
    margin-left: -20px;
}

header .text-logo{
    display: flex;
    justify-content: center;
    width: 1440px;
    background-color: #3d3d3d;
    /* border: 1px solid white; */
    padding: 110px 0;
}

/* ================================ */
/* ============= BODY ============= */
/* ================================ */

/*  @############ LEFT ############@ */

section.body .search{
    width: 330px;
    background-color: #565656;
    border-radius: 0 20px 20px 0;
    display: flex;
}

.body .search store-note{
    display: flex;
    justify-content: center;
}

.body .search p{
    color: #FFF;
    text-align: justify;
    padding: 35px;
}

.body .search .shopping-function p{
    text-align: center;
}

.body .search .shopping-function button.icon-shopping{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #D9D9D9;
    border: none;
}

.body .search .shopping-function .icon-shopping i{
    display: flex;
    justify-content: center;
    width: 24px;
    color: #012A4A;
    transition: all .25s ease-in;
    /* border: 1px solid orange; */
    border-radius: 50%;
    padding: 10px 16px 6px 17px;
}

.body .search .shopping-function button.icon-shopping:hover i{
    color: orange;
    transition: all .25s ease-in;
}

.body .search .shopping-function input{
    width: 270px;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: #D9D9D9;
    margin-bottom: 30px;
}

/*  @############ RIGHT ############@ */

.body .right .store h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

/* =========================
        #FOOTER
         background-image: linear-gradient(60deg, white 70%, #3d3d3d 25%);
    =========================*/
footer {
    /* width: 100%; */
    position: relative;
    height: 280px;
    background-color: #333;
    background-image: linear-gradient(60deg, white 70%, #3d3d3d 25%);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
}

.footer>* {
    width: calc(100% / 4);
}

.footer ul li,
.footer ul li a {
    color: #012A4A;
    font-size: 18px;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
    box-shadow: rgba(0, 0, 0, 0.3) 2.72076px 8px 24px;
}

.footer-left iframe {
    border-radius: 5px;
}

.footer-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-center>* {
    width: calc(100% / 2);
}

.footer-center li {
    margin: 15px 0;
}

.footer-center .box li a {
    transition: .3s ease;
}

.footer-center .box>li:hover a {
    margin-left: 10px;
    color: #4444dd;
    font-weight: bold;
}

.footer-right {
    height: 100%;
    margin: -10px 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}

.footer-right .img-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-right img {
    width: 60%;
    filter: drop-shadow(5px 5px 5px #4444dd);
}

.socials a {
    background: #364a62;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    border-radius: 100%;
    transition: 0.4s ease;
}

.socials a i {
    color: #e7f2d4;
    padding: 10px;
    font-size: 26px;
}

.socials>a:first-child:hover {
    background-color: #4267B2;
    transform: rotate(1turn);
}

.socials>a:last-child:hover {
    background-color: #7289da;
    transform: rotate(1turn);
}

.footer-bottom {
    position: absolute;
    bottom: 10;
    left: 50%;
}


.main  {
    height: 100vh;
}